
body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
line-height: 1.5;
color: #333333;
background-color: #40625E;
}

html {
	scroll-behavior: smooth;
}

/* intro section styles */
	
#intro {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0e7a90;
	text-align: center;
	padding: 60px 0;
}
	
.profile-img {
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
}
	
.profile-img img {
	max-width: 100%;
	height: auto;
}
	
.profile-info {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
	
.profile-info h1 {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 30px;
}
	
.social-icons {
	margin-top: 40px;
	list-style: none;
	display: inline-block;
	text-align: left;
}
	
.social-icons li {
	display: inline-block;
	margin-right: 15px;
}
	
.social-icons li a {
	display: inline-block;
	color: #555;
	border: 1px solid #ccc;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 100%;
	transition: all 0.3s ease-in-out;
}
	
.social-icons li a:hover {
	background-color: #555;
	color: #fff;
	transform: scale(1.1);
}
	
.social-icons li a span {
	display: none;
}
	
.social-icons li a:hover span {
	display: block;
	position: absolute;
	left: 100%;
	top: 50%;
	transform: translate(10px, -50%);
	background-color: #555;
	color: #fff;
	font-size: 14px;
	padding: 5px 10px;
	border-radius: 5px;
	white-space: nowrap;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
	


a {
color: #000000;
text-decoration: none;
}

a:hover {
color: #0056b3;
text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "Roboto Slab", serif;
font-weight: 700;
line-height: 1.1;
margin-top: 0;
}

p {
margin-top: 0;
margin-bottom: 1rem;
}

/* Header styles */
header {
padding-top: 5rem;
padding-bottom: 2rem;
background-color: #343a40;
}

header .intro-text {
max-width: 500px;
margin: 0 auto;
}

header .intro-text h1 {
font-size: 50px;
margin-bottom: 25px;
}

header .intro-text p {
font-size: 18px;
font-weight: 300;
line-height: 1.6;
margin-bottom: 25px;
}
span{
	color: #ccc;
}






/* About section styles */
section#about {
padding-top: 5rem;
padding-bottom: 5rem;
}

section#about h2 {
margin-bottom: 30px;
}

section#about p {
font-size: 18px;
font-weight: 300;
line-height: 1.6;
margin-bottom: 30px;
}

section#about .list-inline-item {
margin-right: 1rem;
}

.about-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  }

/* data analyst and backend developer card in about section*/
.data-analyst-and-backend-developer-card{
	background-image: url(img/backend_img.jpg);
	background-size: contain;
	background-position: center;
	height: 700px;
	border: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	width: 45%;
	padding: 20px;
	margin: 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8); /* add a semi-transparent white background to the card content */
}

/* Adjust the card size for screens smaller than 768px backend-developer-card*/
@media (max-width: 960px) {
	.data-analyst-and-backend-developer-card{
	  width: 100%;
	  height: auto;
	  font-size: 14px;
	}
  }


/* water polo card in about section*/
.proffetional-water-polo-player-card{
	background-image: url(img/backend_img.jpg);
	background-size: contain;
	background-position: center;
	height: 700px;
	border: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	width: 45%;
	padding: 20px;
	margin: 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8); /* add a semi-transparent white background to the card content */
}

  /* Adjust the card size for screens smaller than 768px .data-analyst-card*/
  @media (max-width: 960px) {
	.proffetional-water-polo-player-card{
	  width: 100%;
	  height: auto;
	  font-size: 14px;
	}
  }









/* expertise container */
.expertise-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  }
  
  /* Styling for the data analyst card */
  .data-analyst-card {
	background-image: url(img/backend_img.jpg);
	background-size: contain;
	background-position: center;
	height: 500px;
	border: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	width: 45%;
	padding: 20px;
	margin: 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8); /* add a semi-transparent white background to the card content */
  }
  
  /* Styling for the backend developer card */
  .backend-developer-card {
	width: 45%;
	height: 500px;
	padding: 20px;
	margin: 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8); /* add a semi-transparent white background to the card content */
  }


/* Adjust the card size for screens smaller than 768px backend-developer-card*/
@media (max-width: 960px) {
	.backend-developer-card {
	  width: 100%;
	  height: auto;
	  font-size: 14px;
	}
  }
  

  /* Adjust the card size for screens smaller than 768px .data-analyst-card*/
@media (max-width: 960px) {
	.data-analyst-card{
	  width: 100%;
	  height: auto;
	  font-size: 14px;
	}
  }

.icon{
	width: 80px;
	height: 80px;
	object-fit: cover;
	display: block;
	margin: 0px auto;
}

  
  


/* Projects section styles */

/*GitHub Icon*/

  
  

section#projects {
padding-top: 5rem;
padding-bottom: 5rem;
}

section#projects h2 {
margin-bottom: 30px;
}

section#projects .project {
margin-bottom: 30px;
}

section#projects .project-name {
font-size: 20px;
font-weight: 700;
margin-bottom: 10
}
.card {
	height: 900px;
	border: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.8); /* add a semi-transparent white background to the card content */
	background-image: url(img/backend_img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.card img {
	object-fit: cover;
	height: 38%;
	width: 100%;
}

.learn-more-btn {
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
  }



  




/* Contact section styles */


#contact {
	background-image: url('img/background_img.jpg');
	background-size: cover;
	background-position: center;
}

section#contact {
padding-top: 5rem;
padding-bottom: 5rem;
background-color: #0e7a90;
}

section#contact h2 {
margin-bottom: 30px;
}

section#contact form .form-group {
margin-bottom: 30px;
}

section#contact form label {
font-weight: 700;
}

section#contact form input[type="text"],
section#contact form input[type="email"],
section#contact form textarea {
padding: 10px;
font-size: 16px;
line-height: 1.5;
border-radius: 0;
border: 1px solid #ced4da;
}






/* Footer styles */
footer {
padding-top: 2rem;
padding-bottom: 2rem;
background-color: #343a40;
color: #ffffff;
}

footer a {
color: #ffffff;
}

footer a:hover {
color: #e9ecef;
}

footer p {
margin-bottom: 0;
}

/* Responsive styles */
@media (max-width: 767px) {
header .intro-text h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

section#about .list-inline-item {
	display: block;
	margin-right: 0;
	margin-bottom: 10px;
}

section#skills .skill {
	margin-bottom: 20px;
}

section#experience .timeline-panel {
	padding: 30px;
}

section#projects .project-name {
	font-size: 18px;
	margin-bottom: 5px;
}
}

